<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Appointments</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        body {
            flex-direction: column;
            justify-content: flex-start;
        }
    </style>
</head>
<body>

<div class="table-container">
    <h1>List of All Appointments</h1>

    <table>
        <thead>
        <tr>
            <th>Client</th>
            <th>Employee</th>
            <th>Treatment(s)</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${appointments}">
            <td data-label="Client" th:text="${a.client.getFirstName() + ' ' + a.client.getLastName()}"></td>
            <td data-label="Employee" th:text="${a.employee.getName()}"></td>
            <td data-label="Treatments" th:text="${#strings.listJoin(a.treatment, ', ')}"></td>
            <td data-label="Date" th:text="${a.date}"></td>
            <td data-label="Time" th:text="${a.time}"></td>
        </tr>
        </tbody>
    </table>
    <a class="back-link" th:href="@{/admin/dashboard}">← Back to Dashboard</a>
</div>
</body>
</html>