<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Employees</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        body {
            flex-direction: column;
            justify-content: flex-start;
        }

        h1 {
            margin-bottom: 1.5rem;
        }
    </style>
</head>
<body>

<div class="table-container">
    <h1>List of All Employees</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Specialization</th>
            <th>Treatments</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.specialization}"></td>
            <td th:text="${#strings.listJoin(employee.treatments, ', ')}"></td>
        </tr>
        </tbody>
    </table>
    <a class="back-link" th:href="@{/admin/dashboard}">←Back to Dashboard</a>
</div>
</body>
</html>
