<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Reservation Confirmed</title>
    <style>
        body {
            height: 100vh;
            justify-content: center;
            color: #fff;
            text-align: center;
        }

        h1{
            margin-bottom: 0.3rem;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>🎉 Your reservation was successful!</h1>
    <a href="/home" class="button">Back</a>
</div>
</body>
</html>
<link rel="stylesheet" th:href="@{/css/style.css}">

